{% extends 'addons/customers/navigation.html'%}

{% block extra_head %}
<style>
  body{

    font-family: 'Times New Roman', Times, serif;
  }
</style>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}


{% block mymessage %}   
   <div>   
    
    
        {% for ceremony in ceremonys %}
        <div class="card" style="width: 22rem; display:inline-block; padding:10px; margin:20px; border:2px solid black; border-radius: 10px;">
           <img style="height:fit-content; width:100%"class="card-img-top" src="{{ ceremony.photo.url }}" alt="Card image cap">
            <div class="card-body">
              <h3 class="card-title" style="text-transform:capitalize;"><b>{{ ceremony.name }}</b></h3>
              <p class="card-text">{{ ceremony.description }}</p>
             <a style="text-decoration:none;" href="/customer/schedule_ceremony/{{ceremony.id}}" class="btn btn-primary"> Schedule</a>
              
            </div>
          </div>
          {% endfor %}

          
</div>

{% endblock %}