{% extends 'addons/sidenav.html'%}
        
{% block mymessage %}
      <div class="main"> 
           <h1 style="text-align:center">Edit yatra</h1>
           <table style="margin-left:5%;">
    <form method="post" enctype="multipart/form-data" >
        {% csrf_token %}
      <tr>
        <td><label for="name"> Name</label></td>
        <td><input type="text" name="name" id="name" value="{{yatra.name}}" required ></td> <br></tr>

        
        <tr>
          <td><label for="description"> Description</label></td>
            <td><textarea name="description" id="name"  required> {{yatra.description}}</textarea></td> <br></tr>
        <tr>
              <td><label for="price"> Price</label></td>
                <td><input type="number" name="price" id="name" value="{{yatra.price}}" required > </td><br></tr>
        <tr>
          <td><label for="photo"> Photo</label></td>
            <td><input type="file" name="photo" id="name" value="{{yatra.photo}}"  ></td> <br>
      </tr>
      <tr>
        <td><label for="start"> Start time</label></td>
          <td><input type="datetime-local" name="start" id="name" value="{{yatra.start_date}}" >{{yatra.start_date}}</td> <br>
    </tr>
    <tr>
        <td><label for="end"> End time</label></td>
          <td><input type="datetime-local" name="end" id="name" value="{{yatra.end_date}}"  >{{yatra.end_date}}</td> <br>
    </tr>
      <tr>
        <td><label for="locations"> Locations covered</label></td>
          <td><select name="locations" id="name" multiple required >
            {% for location in yatra.locations_covered.all %}
            <option value="{{location.id}}" selected>{{location.city}}</option>
            {% endfor %}
            {% for location in other_locations %}
            <option value="{{location.id}}">{{location.city}}</option>
            {% endfor %}
          </td> 
          <td><a href="/adminn/add_location">add location</a></td><br>
    </tr>

      <tr>
        <td><button type="submit">ADD</button></td>
      </tr>
      
        
        
        
    </form>
  </table>
</div>
{% endblock %}  
