{% extends 'addons/sidenav.html'%}

{% block extra_head %}
<style>
  body{

    font-family: 'Times New Roman', Times, serif;
  }
</style>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}


{% block mymessage %}      <div class="main">    <h1 style="text-align:center; font-family:Georgia, 'Times New Roman', Times, serif;"><u>VIEW PRODUCTS</u></h1>

  <button type="button" class="btn btn-warning" style="float:right; margin-right:70px;"><a href="/adminn/add_product" style="text-decoration: none;"><i class="fa fa-plus" style="font-size:20px; color:white;">ADD PRODUCTS</i></a></button><br>
    
        {% for prod in products %}
        <div class="card" style="width: 22rem; display:inline-block; padding:10px; margin:20px; border:2px solid black; border-radius: 10px;">
          {% if prod.photo %} <img style="height:fit-content; width:100%"class="card-img-top" src="{{ prod.photo.url }}" alt="Card image cap"> {% endif %}
            <div class="card-body">
                {% if prod.price == 0 %}
                <i class="fa fa-gift" style="font-size:32px;color:blue; display:inline-block;">GIFT</i>
                {% endif %}
              <h3 class="card-title" style="text-transform:capitalize; display:inline-block;"><b>{{ prod.product.name }} ({{ prod.color }})</b>  </h3>
              <p class="card-text">{{ prod.product.description }}</p>
             <a style="text-decoration:none;" href="/adminn/edit_product/{{prod.slug}}" class="btn btn-primary"> Edit</a>
              <a href="/adminn/delete_product/{{prod.id}}" class="btn btn-primary">Delete</a>
            </div>
          </div>
          {% endfor %}
</div>

{% endblock %}
<script  type='text/javascript'>
var a="{{products}}";
</script>